{% extends 'base.html' %}
{% block body %}


<main>
  <div class="p-5 container">
    <h1 class="fw-bolder text-primary mb-4 text-center text-uppercase">Sign Up</h1>
    <div class="offset-md-1  col-md-10">
      <form enctype=multipart/form-data action="{{ url_for('register') }}" method="post" class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
          <label for="FName" class="form-label">First name</label>
          <input name="FName" id="FName" type="text" class="form-control" placeholder="First name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose an invalid first name.
          </div>
        </div>
        <div class="col-md-4">
          <label for="MidName" class="form-label">Middle name</label>
          <input name="MidName" id="MidName" type="text" class="form-control" placeholder="Middle name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose an invalid Middle name.
          </div>
        </div>
        <div class="col-md-4">
          <label for="LName" class="form-label">Last name</label>
          <input name="LName" id="LName" type="text" class="form-control" placeholder="Last name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose an invalid last name.
          </div>
        </div>
        <div class="col-md-4">
          <label for="file" class="form-label">Image</label>
          <input name="file" id="file" type="file" class="form-control">
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide the same password.
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationUsername" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input name="username" id="username" type="text" class="form-control" placeholder="Username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please choose an Invalid username.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationEmail" class="form-label">Email</label>
          <input name="email" id="email" type="Email" class="form-control" placeholder="Email" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid Email.
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationPass" class="form-label">Password</label>
          <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid password.
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationRePass" class="form-label">Reapeat Password</label>
          <input name="repassword" type="password" class="form-control" placeholder="Password" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide the same password.
          </div>
        </div>
        <div class="col-md-4">
          <label for="Phone" class="form-label">Phone</label>
          <input name="Phone" id="Phone" type="text" class="form-control" placeholder="Phone" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please choose an invalid last name.
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-6 offset-5">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
        <p class="text-center {{registered}}">{{ msg }}</p>
      </form>
    </div>
  </div>
</main>

{% endblock %}